.upper-background {
  background-image: url("./ocean.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-styles {
  color: white;
  font-size: 24px;
  line-height: 36px;
  font-family: akzidenz-grotesk;
  text-align: center;
  letter-spacing: 1em;
  padding-left: 1em;
  padding-bottom: 8vh;
}

.button-styles {
  text-align: center;
  font-family: akzidenz-grotesk;
}
